src/main/java/com/example/PecetCalc/util/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="faktura">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="komputer" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="nazwa"/>
                            <xs:element type="xs:dateTime" name="data_ksiegowania"/>
                            <xs:element type="xs:double" name="koszt_USD"/>
                            <xs:element type="xs:double" name="koszt_PLN"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>